@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);




h1 {
  text-align: center;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 15px;
  color: #28424F;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: #717C7E;
}

a:hover {
  color: #C1C6C7;
}

span {
  color: #FA5C65;
}






.header {
  background: #fff;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
}
.nav {
  text-align: center;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.nav ul {
  list-style: none;
  width: 100%;
}

.nav li {
  display: inline-block;
  margin: 10px 35px 10px 35px;
}

.home {
  text-align: center;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/49/ca/e5/49cae53c1176f75f061424466dbc4b84.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 290px 0;
}

.avatar {
  display: block;
  margin: 40px auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/ea/4e/ca/ea4ecaa8d74246dd4d8cda804aa7b085.jpg');
  background-position: center 0;
}

.home h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #314A5B;
  font-size: 38px;
  text-transform: uppercase;
  margin-top: 30px;
}

.home h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #28424F;
}

.home p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
  color: #28424F;
}

.home hr {
  border: solid #28424F;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home a {
  display: inline-block;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.1);
  background-color: #FA5C65;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  color: #fff;
  padding: 5px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.fa-download {
  margin: 2px 4px;
}


.profile p,
.profile ul {
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #28424F;
  text-align: left;
  margin: 0;
  padding: 0;
}

.profile__story h4,
.profile__info h4,
.profile__skills h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #28424F;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile__story li{
  margin-bottom: 15px;
}

.profile__story--title {
  font-size: 18px;
}

.profile__info li {
  font-size: 15px;
  margin-bottom: 10px;
}

.profile__info--bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.profile__skills {
  position: relative;
}

.profile__skills li {
  margin-bottom: 35px;
}

.profile__skills p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.profile__skills--back {
  position: absolute;
  background-color: #DBDFE1;
  height: 15px;
  width: 90%;
}

.profile__skills--front {
  position: absolute;
  background-color: #546E7A;
  height: 15px;
}

.speech {
  width: 84%;
}

.think {
  width: 79%;
}

.resp {
  width: 76%;
}

.learn {
  width: 88%;
}

.commun {
  width: 83%;
}

.perf {
  width: 84%;
}

.mult {
  width: 87%;
}

.resume {
  display: inline-block;
  height: 450px;
  width: 100%;
}

.resume h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #314A5B;
  font-size: 20px;
  text-transform: uppercase;
}

.resume__title--experiences{

}

.resume__title--education {
  margin-top: 75px;
}

.resume p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #314A5B;
  font-size: 15px;
}

.resume__left {
  width: 45%;
  float: left;
  margin-top: 90px;
}

.resume__left h5,
.resume__left p {
    text-align: right;
}

.resume__center {
  position: relative;
  width: 10%;
  float: left;
}

.resume__right {
  width: 45%;
  float: right;
  margin-top: 190px;
}

.resume__right h5,
.resume__right p {
    text-align: left;
}

.line {
  position: absolute;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 300px;
  background-color: #FA5C65;
  border-radius: 50px;
  display: block;
}

.toolbox {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  background-image: url(../images/toolbox.svg);
  border-radius: 50px;
  display: block;
}

.clipboard {
  position: absolute;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  background-image: url(../images/clipboard.svg);
  border-radius: 50px;
  display: block;
}

.next {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 290px;
  width: 24px;
  height: 24px;
  background-image: url(../images/next.svg);
  border-radius: 50px;
  display: block;
}

.flag {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-top: 290px;
  width: 24px;
  height: 24px;
  background-image: url(../images/flag.svg);
  border-radius: 50px;
  display: block;

}

.circle1 {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  margin-top: 100px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: #FA5C65;
  display: block;
}

.circle2 {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  margin-top: 200px;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background-color: #FA5C65;
  display: block;
}

.contacts p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #314A5B;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.contact__form {
  margin-bottom: 90px;
}

.contacts__block{
  display: block;
  margin: 15px auto;
}

.contacts__field {
  padding: 15px;
  border: 1px solid #B9C0C6;
  border-radius: 15px;
  line-height: 1.5em;
  color: #314A6A;
  font-size: 15px;
  width: 60%;
  z-index: 0;
  height: 30px;
}

.contacts__field--textarea {
  padding: 15px;
  border: 1px solid #B9C0C6;
  border-radius: 15px;
  line-height: 1.5em;
  color: #314A6A;
  font-size: 15px;
  width: 60%;
  z-index: 0;
}

.contacts__button {
  display: block;
  margin: 35px auto;
  text-transform: uppercase;
  background-color: rgba(0,0,0,.1);
  background-color: #FA5C65;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: none;
  color: #fff;
  padding: 5px 65px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

input[type="text"]:focus,
button[type="submit"]:focus,
textarea:focus {
  outline: none;
}

.fa-paper-plane-o {
  margin: 2px 4px;
}

.footer p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #717C7E;
  margin-bottom: 20px;
}

.footer li {
  display: inline-block;
}

.footer__social {
  width: 50%;
  float: left;
}

.footer__rights {
  width: 50%;
  float: right;
  text-align: right;
}

.footer ul {
  padding: 0;
  margin: 0;
}

.fa {
  margin-left: 12px;
  margin-right: 12px;
}
